{% extends "base.html" %}

{% block title %}Dodaj przychód{% endblock %}

{% block body %}

<nav class="navbar">
    <div class="container-fluid border-bottom border-light ms-md-5 me-md-5">
        <h1 class="display-5 text-light">Budżet osobisty</h1>
        <div class="text-light fs-5"><a class="nav-link text-light" href="/main/menu">Menu</a></div>
    </div>
</nav>

<section class="container mt-5 mb-5">
    <div class="row">
        <div class="col-10 m-auto bg-light p-2 mb-5 limit" id="limit">
                <p>Limit dla wybranej kategorii: <span id="spanLimit"></span> zł</p>
                <p>Suma miesięczna wydatków: <span id="spanMonthlySum"></span> zł</p>
                <p id="info"></p>
        </div>

    </div>
    <div class="row ">
        <div class="col-lg-6 col-md-8 col-11 m-auto bg-light p-4">
            <h2 class="display-6 text-center">Dodaj wydatek</h2>
            <form action="/Expenses/create" method="post">
                <div class="col mt-3">
                    <label class="form-label" for="amount">Podaj kwotę:</label>
                    <input class="form-control" type="number" placeholder="Kwota" id="amount" min="0" step="0.01" name="amount" required>
                </div>

                <div class="col mt-3">
                    <label class="form-label" for="date">Podaj date:</label>
                    <input class="form-control" type="date" id="date" name="date" min="2000-01-01" required>
                </div>
                <div class="col mt-3">
                    <label class="form-label" for="payment">Wybierz sposób płatności:</label>
                    <select class="form-select" aria-label="Default select example" name="payment" id="payment">
                        {% for pay in payCat %}
                        <option value="{{pay.id}}">{{pay.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col mt-3">
                    <label class="form-label" for="category">Wybierz kategorię:</label>
                    <select class="form-select" aria-label="Default select example" name="category" id="category">
                        {% for ex in exCat %}
                        <option value="{{ex.id}}">{{ex.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col mt-3">
                    <label class="form-label" for="comment">Komentarz:</label>
                    <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>
                </div>

                {% if expense.errors is not empty %}
                <ul>
                    {% for error in expense.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div class="d-grid gap-2 mt-5">
                    <button class="btn btn-outline-dark">Dodaj</button>
                    <button type="button" class="btn btn-outline-dark" id="btnCancel">Anuluj</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="/js/expenses.js"></script>
<script src="/js/limit.js"></script>



{% endblock %}