{% extends "base.html" %}

{% block title %}Dodaj przychód{% endblock %}

{% block body %}

<nav class="navbar">
    <div class="container-fluid border-bottom border-light ms-md-5 me-md-5">
        <h1 class="display-5 text-light">Budżet osobisty</h1>
        <div class="text-light fs-5"><a class="nav-link text-light" href="/main/menu">Menu</a></div>
    </div>
</nav>

<section class="container mt-5 mb-5">
    <div class="row ">
        <div class="col-lg-6 col-md-8 col-11 m-auto bg-light p-4">
            <h2 class="display-6 text-center">Dodaj przychód</h2>
            <form action="/Incomes/create" method="post">
                <div class="col mt-3">
                    <label class="form-label" for="amount">Podaj kwotę:</label>
                    <input class="form-control" type="number" placeholder="Kwota" id="amount" min="0" step="0.01" name="amount" required>
                </div>
                <div class="col mt-3">
                    <label class="form-label" for="date">Podaj date:</label>
                    <input class="form-control" type="date" id="date" name="date" required>
                </div>
                <div class="col mt-3">
                    <p>Wybierz kategorię:</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Salary"
                            value="Salary" checked>
                        <label class="form-check-label" for="Salary">Wynagrodzenie</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Interest"
                            value="Interest">
                        <label class="form-check-label" for="Interest">Odsetki bankowe</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Allegro" value="Allegro">
                        <label class="form-check-label" for="Allegro">Sprzedaż na Allegro</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Another"
                            value="Another">
                        <label class="form-check-label" for="Another">Inne</label>
                    </div>
                </div>
                <div class="col mt-3">
                    <label class="form-label" for="comment">Komentarz:</label>
                    <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>
                </div>

                {% if income.errors is not empty %}
                <ul>
                    {% for error in income.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div class="d-grid gap-2 mt-5">
                    <button class="btn btn-outline-dark">Dodaj</button>
                    <button type="button" class="btn btn-outline-dark" id="btnCancel">Anuluj</button>
                </div>


           </form>
        </div>
    </div>
</section>

<script src="/js/incomes.js"></script>

{% endblock %}