html{
    --backgroundColor: #124559;
}

body{
    background-color: var(--backgroundColor);
    width: 100%;
    min-height: 100%;
}

button.btn-outline-dark:hover{
    background-color: var(--backgroundColor);
    border-color: var(--backgroundColor);
}

h1{
    letter-spacing: 0.2em;    
}

.limit{
    display:none;
}

.small-font{
    font-size: 0.8em;
}

/* .removeInfo{
    display:none;
} */

button.editCategoryBtn,
button.btnCategory{
padding: 0;
margin:0;
width: 100%;
}

i.bi-arrow-up-right-square,
i.bi-trash{
    display: block;
    height: 100%;
    width: 100%;
}