{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block body %}

<nav class="navbar">
    <div class="container-fluid border-bottom border-light ms-md-5 me-md-5">
        <h1 class="display-5 text-light">Budżet osobisty</h1>
        <div class="text-light fs-5"><a class="nav-link text-light" href="/main/menu">Menu</a></div>
    </div>
</nav>

<section class="container mt-5 mb-5">
    <div class="row ">
        <div class="col-12 m-auto bg-light p-4">
            <h2 class="display-6 text-center">Ustawienia</h2>

            <!-- Modal ustawienie wydatków-->
            <div class="d-grid gap-2 mt-4">
                <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapseExample1" aria-expanded="false"
                    aria-controls="multiCollapseExample1">Ustawienia wydatków</button>
            </div>
            <div class="row">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        <div class="col">
                            <p>Istniejące kategorie:</p>
                            <ul class="list-group">
                                {% for ex in exCat %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-10">
                                            <p>{{ex.name}}</p>
                                            <p class="small-font" id="pLimit{{ex.id}}">Limit: {{ex.userLimit }} zł</p>
                                        </div>
                                        <div class="col-1">
                                            <button type="button" class="btn btn-primary editCategoryBtn" data-bs-toggle="modal"
                                                data-bs-target="#modalEdit" onclick="editCategoryExpenses('{{ex.id}}')">                                               
                                                <i class="bi bi-arrow-up-right-square" id="{{ex.id}}"></i>
                                            </button>
                                        </div>
                                        <div class="col-1">
                                            <button type="button" class="btn btn-light btnCategory" data-bs-toggle="modal"
                                                data-bs-target="#modalRemove" id = "removeExpense" onclick="removeCategoryExpense('{{ex.id}}', id)"><i
                                                    class="bi bi-trash"></i></button>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="row">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#modalAdd" id="addExpenseCategory">Dodaj kategorię</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal ustawienie przychodów-->

            <div class="d-grid gap-2 mt-4">
                <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapseExample2" aria-expanded="false"
                    aria-controls="multiCollapseExample2">Ustawienia przychodów</button>
            </div>
            <div class="row">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">
                        <div class="col">
                            <p>Istniejące kategorie:</p>
                            <ul class="list-group">
                                {% for in in inCat %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-10">
                                            <p>{{in.name}}</p>
                                        </div>
                                        <!-- <div class="col-1">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#modalEdit"
                                                onclick="editCategory('{{ex.id}}')"><i
                                                    class="bi bi-arrow-up-right-square"></i></button>
                                        </div> -->
                                        <div class="col-1">
                                            <button type="button" class="btn btn-light btnCategory" id = "removeIncome" data-bs-toggle="modal"
                                                data-bs-target="#modalRemove"
                                                onclick="removeCategoryIncome('{{in.id}}', id)"><i
                                                    class="bi bi-trash"></i></button>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="row">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#modalAdd" id="addIncomeCategory">Dodaj kategorię</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal ustawienie konta-->
            <div class="d-grid gap-2 mt-4">
                <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapseExample3" aria-expanded="false"
                    aria-controls="multiCollapseExample3">Ustawienia konta</button>
            </div>
            <div class="row">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                    <div class="card card-body">
                        <div class="col">
                            <div class="row">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#modalChange" id="changePassword">Zmień hasło</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Edycja kategorii-->
            <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edycja kategorii</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Ustaw limit dla kategorii</label>
                            </div>
                            <fieldset disabled>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="disabledInput" placeholder="Ustaw limit"
                                        type="number" min="0" step="0.01" name="amount">
                                </div>
                            </fieldset>
                            <p class="limit p-2" style="color:green">Limit został ustawiony</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">Anuluj</button>
                            <button type="button" class="btn btn-outline-dark" id="save">Zapisz</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal usuwanie kategorii expenses-->
            <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Usuwanie kategorii</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body removeCat">
                            <p class="p-2"></p>
                            <p class="limit p-2" style="color:green">Kategoria została usunięta</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">Anuluj</button>
                            <button type="button" class="btn btn-outline-dark" id="remove">Usuń</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal dodawanie kategorii-->
            <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Dodaj kategorię</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body addCat">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Podaj nazwę kategorii"
                                        type="text" name="catName">
                                </div>
                            </fieldset>
                            <p class="limit p-2" style="color:green">Kategoria została dodana</p>
                            <p class="limit p-2" style="color:red">Podana kategoria już istnieje</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">Anuluj</button>
                            <button type="button" class="btn btn-outline-dark" id="add">Dodaj</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal zmiana hasla-->
            <div class="modal fade" id="modalChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Zmień hasło</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body changePass">
                        <div class="form-group">
                            <label class="form-label" for="password">Podaj hasło:</label>
                            <div class="input-group mb-3">
                                <input class="form-control" type="password" placeholder="Hasło" id="password" name="password">
                                <i class="input-group-text bi bi-eye-slash" id="togglePassword"></i>
                            </div>
                        </div>
                        <p class="limit p-2" style="color:green">Hasło zostało zmienione</p>
                        <p class="limit p-2" style="color:red">Podane hasło jest nieprawidłowe. <br>Hasło musi zawierać od 6 do 20 znaków</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">Anuluj</button>
                        <button type="button" class="btn btn-outline-dark" id="savePass">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>


        </div>
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
</script>
<script src="/js/settings.js"></script>
<script src="/js/regist.js"></script>

{% endblock %}